{{> header }}
    <div class="container w-50">
        <div class="row justify-contents-center m-lg-5 p-lg-4">
            <div class="col">
                <div class="card border-success text-center">
                    <div class="card-header bg-success text-white p-3">
                        <h2 class="card-title mb-0">Sign Up</h2>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Please signup now</p>

                        <form action="">
                            <div>
                                <input type="text" class="form-control mx-auto w-75 mb-2" placeholder="Full Name" required="true">
                                <input type="email" class="form-control mx-auto w-75 mb-2" placeholder="Email" required="true">
                                <input type="password" class="form-control mx-auto w-75 mb-2" placeholder="Password" required="true">
                                <input type="submit" class="btn btn-success mx-auto w-75 mb-2" value="Sign Up">
                            </div>

                        </form>
                        
                        <p class="card-text">Or login using</p>
                        <div class="pb-2">
                            <a href="/auth/facebook" class="btn btn-primary w-75"><i class="fab fa-facebook-f mx-2"></i> Login with Faccebook</a>
                        </div>
                        <div class="pb-2">
                            <a href="/auth/google" class="btn btn-danger w-75"><i class="fab fa-google mx-2"></i> Login with Google</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{> footer }}