{{> header }}
    <div class="container w-50">
        <div class="row justify-contents-center m-lg-5 p-lg-4">
            <div class="col">
                <div class="card border-success text-center">
                    <div class="card-header bg-success text-white p-3">
                        <h2 class="card-title mb-0">Login Success</h2>
                    </div>
                    <div class="card-body">
                       <p>{{message1}}</p>
                       <p>{{message2}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{> footer }}