<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        *{
            font-family: Arial, Helvetica, sans-serif;
        }
        .heading{
            color: royalblue;
            text-align: center;
            
        }
        h5, h3,h4,h6{
            margin-bottom: 2px;
            
        }
        .container{
            display: flex;
            justify-content: center;
        }
    </style>
    </head>
    <body>
        <div class="container">
            <div>
                <h3 class="heading"><u>Welcome to TODO list application</u></h3>
                <div style="text-align: center; margin: 3rem auto">
                    Here is your email verification code: <b>{{code}}</b>
                </div>
            </div>
        </div>
    </body>
</html>